// - include/head.pug

- 
	var title = "Yeshu'a Emanuel Braz - Front End Developer - Graphic Designer";
	var metaDesc = "I'm a Graphic Designer and a Front End Developer, here you can see my projects and a way to contact me"

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv="Content-Language" content="en")
	title= title
	meta(name="description",content=metaDesc)
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name="theme-color", content="#513396")

	//- og title
	meta(property="og:url", content="https://yexx.github.io/")
	meta(property="og:title", content=title)
	meta(property="og:description", content=metaDesc)
	meta(property="og:image", content="https://yexx.github.io/richpreview.png")
	meta(property="og:image:alt", content=title)

	script
		include s-loadCSS.min.js
		include s-preload-poly.min.js

	//-CSS
	include css.pug
